h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 100, 131);
    color: white;
  }
  
  .footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }